<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021795044154-biab3n5kth90a5l3fmaego2sa685ctph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021795044154-biab3n5kth90a5l3fmaego2sa685ctph</string>
	<key>API_KEY</key>
	<string>AIzaSyDSf4nyfr5xqzezM3S2t2MAfoh0jm0iydY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021795044154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sirateek.example-fire-auth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-d754b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-d754b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021795044154:ios:db56098b9062f891085e03</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-d754b.firebaseio.com</string>
</dict>
</plist>